# Ignore le dossier de build
build/

# Ignore le dossier de venv
venv/

# Ignore le dossier Data
Data/

# Ingore le dossier pycache
Scripts/utils/__pycache__/


# Ignore les fichiers générés par Qt
*.pro.user
*.pro.user.*
*.txt.user
*.txt.user.*
*.qmake.stash

# Ignore les fichiers de configuration du dossier Qt Creator
*.creator*
*.creator.user.*

# Ignore les dossiers de cache et autres fichiers générés
.qtc_clangd/
.qmake.cache
.qmake.stash
*.autosave
*.swp

# Ignore les fichiers de log et de sauvegarde
*.log
*.bak
*.old
*~

# Ignore les fichiers de test coverage
*.gcno
*.gcda

# Ignore les fichiers de compilation
*.o
*.a
*.so
*.dll
*.dylib
*.exe
*.out
*.app
*.obj
*.lib

# Ignore les fichiers de documentation générés
doc/html/
doc/latex/
doc/man/
doc/refman/
doc/*.tag
